<div class="padre">
    <div class="contenedor-navbar">
        <label class="titulo-vista">Productos</label>
        <label class="bienvenido-usuario">Bienvenido Yeison B.</label>
    </div>
    <div class="separacion"></div>
    <div class="contenedor-cuerpo">
        <div class="contenedor-sidebar">
            <div (click)="navegar()" class="boton">
                <i style="font-size: 1.8em;" class="fa fa-home"></i>
            </div>
            <div class="boton">
                <i style="font-size: 1.8em;" class="fas fa-user"></i>
            </div>
            <div class="boton">
                <i style="font-size: 1.8em;" class="fas fa-shopping-cart"></i>
            </div>
            <div class="boton">
                <i style="font-size: 1.8em;" class="far fa-file"></i>
            </div>

        </div>
        <div class="cuerpo">
            <div class="contenedor-buscador">
                <input >
                <i style="font-size: 2.5em;" class="fas fa-box"></i>
            </div>
            <div class="contenedor-tarjetas container px-3">
                <app-tarjetas></app-tarjetas>
                <app-tarjetas></app-tarjetas>
                <app-tarjetas></app-tarjetas>

            </div>
            
        </div>
    </div>
</div>

