<div>
    <app-navbar></app-navbar>
    <div class="separacion"></div>
    <div class="contenedor-cuerpo">
        <app-sidebar></app-sidebar>
        <div class="cuerpo">
            <div class="carta-contenido">
                <div class="producto">
                    <label>Seleccione el cliente</label>
                    <select id="inputState" class="form-control">
                        <option selected></option>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                    </select>
                </div>
                <div class="cliente">
                    <label>Digite el producto</label>
                    <input>
                </div>
                <div class="cantidad">
                    <label>Digite la cantidad</label>
                    <input>
                </div>
                <div class="precio-total">
                    <label>El precio total de la venta es:</label>
                    <label class="precio">2000.00000</label>
                </div>
            </div>
        </div>
    </div>
</div>