<div class="contenedor-sidebar">
    <div (click)="navegar()" class="boton">
        <i style="font-size: 1.8em;" class="fa fa-home"></i>
    </div>
    <div (click)="navegar1()" class="boton" >
        <i style="font-size: 1.8em;" class="fas fa-user"></i>
    </div>
    <div (click)="navegar2()" class="boton">
        <i style="font-size: 1.8em;" class="fas fa-shopping-cart"></i>
    </div>
    <div (click)="navegar3()" class="boton">
        <i style="font-size: 1.8em;" class="far fa-file"></i>
    </div>

</div>